// Define variables for your color scheme

// For example:
$red: #B44636;
$orange: #F28963;
$yellow: #F2DA57;
$white: #FFFFFF;
$dark-grey: #212429;
$gray: #0E0000;
$light-grey: #F4F4F4;
$medium-grey: rgb(147, 147, 147);
$green: #16BF51;
$dark-blue: #003368;
