.btn-sign-field {
  display:flex;
  justify-content: space-around;
}

.sing_up_form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #eee;
}

.collapse-rows {
  display:flex;
  justify-content: space-between;

}
