.form-basics {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 35px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #eee;
  margin-top: 16px;
}

.calendar-picker {
  border: 2px solid $light-medium-grey;
}
