.rental {
  margin: 5px;
  padding: 5px;
  background-color: $white;
  align-items: center;
}

.castle-renter-card {
  height: 100%;
  width:100%;
  background-color: $white;
  padding: 5px;
}

.profile-card {
  background-color: $white;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around
}
