<div class="container">
  <h1>Bouncy castles</h1>
  <p>Start planning your party with these bouncing castles available</p>
</div>
<div class="container text-center">

  <div class="row">

    <% @castles.each do |castle| %>
      <div class="col-sm m-3">
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag castle.photo, width: 400, crop: :fill, class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= castle.name %></h5>
            <%= link_to 'See details', castle_path(castle), class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

